

<html>
<head>
<title>Este es solo un ejemplo</title>
</head>

<body bgcolor=»#A2F9FC»><h1><center>Este Es El Título Principal De La Página</center></h1><font size=»3″ face=»Comic Sans MS, Arial, MS Sans Serif»>
Aqui podemos colocar alguna <b>introducción</b> al contenido que encontrarás… bla bla bla</font><h2><center><u>Este Es Un Subtítulo De La Página</u><center></h2><font size=»3″ face=»Comic Sans MS, Arial, MS Sans Serif»>
Aqui se encontrará el <i>desarrollo</i> con todo lo que quieras..</font>

<marquee id="ejemplo" direction="up">AQUI VA EL TEXTO QUE DESEES </marquee><a href="javascript:void(0);" onclick="getElementById('ejemplo').direction='down';">Hacia abajo</a>---<a href="javascript:void(0);" onclick="getElementById('ejemplo').direction='up';">Hacia arriba</a>
</script></div><div class="n"><div class="n"> <a href="#" title="Ir arriba"><img alt="Ir arriba" border="0" src="http://2.bp.blogspot.com/_qgZA1ny_dAs/S0QFsV1WD7I/AAAAAAAADhs/ZBKrnpzqBrk/s200/arrow8a.png" style=position:fixed;bottom:0;right:0;/></a> </div>

<center> <div class="n"><p>    <b><font color="#000000" face="georgia" size="4"><marquee width="400" scrollamount="5" bgcolor="#FFFFFF">Aquí tu texto</marquee></font></b></p><center></center>

    <div class="pre-spoiler">    <span style="color: #00ffff;">Clic Para Mostrar El Contenido</span> <input type="button" value="Mostrar Contenido" style="width:80px;font-size:15px;margin:0px;padding:0px;" onclick="if (this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display != '') { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = '';this.innerText = ''; this.value = 'Ocultar'; } else { this.parentNode.parentNode.getElementsByTagName('div')[1].getElementsByTagName('div')[0].style.display = 'none'; this.value = 'Mostrar';}" />gt;    </div><div>    <div class="spoiler" style="display: none;">        AQUI ESCRIBEN TODO EL CONTENIDO QUE OCULTARAN YA SEA UN CHAT, REPRODUCTOR,ETC</div>
    
</body>

</html>

