<aside class="w-64 bg-blue-950 fixed shadow-md p-6">
    <h2 class="text-2xl font-bold text-white mb-8">PROMACO</h2>
<nav class="flex flex-col space-y-4">

    
        
        <a class="text-white-100 hover:text-blue-600" href="/inicio">Inicio</a>
       
        
        <a class="text-gray-700 hover:text-blue-600" href="/marcaje">Descarga de Marcajes</a>
        <a class="text-gray-700 hover:text-blue-600" href="/marcaje/registrados">Empleados Registrados</a>
        <a class="text-gray-700 hover:text-blue-600" href="/marcaje/validar-asistencia">Validación de asistencia</a>
        <a class="text-gray-700 hover:text-blue-600" href="/marcaje/solicitud">Solicitudes Pendientes</a>
        <a class="text-gray-700 hover:text-blue-600" href="/marcaje/crear-permiso">Solicitar permiso</a>
    

</nav>
</aside>