{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/main.css' %}">



<div class="container mt-2">
    <h2>Validación de Asistencias</h2>
    
    <!-- Filtros -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row g-3">
                <div class="col-md-4">
                    <label for="sucursal" class="form-label">Sucursal:</label>
                    <select id="sucursal" class="form-select form-select-sm">
                        {% for sucursal in sucursales %}
                        <option value="{{ sucursal.id }}">{{ sucursal.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="col-md-4">
                    <label for="fecha" class="form-label">Fecha:</label>
                    <input type="date" id="fecha" class="form-control form-control-sm">
                </div>
                
                <div class="col-md-4 d-flex align-items-end">
                    <button id="btn-validar" class="btn btn-primary btn-sm w-100">
                        <i class="fas fa-check-circle"></i> Validar
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Resultados -->
    <div class="card">
        <div class="card-body">
            <div class="table-responsive overflow-y-auto tabla">
                <table id="tabla-resultados" class="table">
                    <thead>
                        <tr>
                            <!-- <th>Fecha</th> -->
                            <th>Fecha</th>
                            <th>Sucursal</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Departamento</th>
                            <th>Marca Entrada</th>
                            <th>Marca Salida</th>
                            <!-- <th>Hora</th> -->
                            <th>Asistencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Datos se cargarán por AJAX -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'scripts/validar_asistencia.js' %}"></script>

{% endblock %}